.importBox {
  padding: 0 30px;
  margin-bottom: 10px;

  :global(.ant-upload) {
    display: block;
  }
}

.importUpload {
  display: block;
}

.failBox {
  border: 1px solid #D4D9E2;
  height: 226px;
  overflow-y: scroll;
}